.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a{
  color:rgb(230, 242, 136);
  text-decoration: none;
}
p{
  font-size:24px;
}

.App-header {

}
.map-image {
 background-color: #282c34; 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  min-height: 450px;
  @media  screen and (min-width: 600px)  {
    min-height: 800px;
  }

  
}
.map-1{
    background-image: url("../public/images/flowering_moon/IMG_7871.PNG");
}
.map-2{
    background-image: url("../public/images/flowering_moon/IMG_7872.PNG");
}
.map-3{
    background-image: url("../public/images/flowering_moon/IMG_7873.PNG");
}
.map-4{
    background-image: url("../public/images/flowering_moon/IMG_7874.PNG");
}
.map-clover{
      background-image: url("../public/images/flowering_moon/IMG_7866.jpg");

}

.App-link {
  color: #61dafb;
}
